@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$background-color: #0b0b0e;
$primary-text-color: #cccccc;
$secondary-text-color: #cfcfcfa0;
$primary-color: #ed6f86ff;
$secondary-color: #ffcf22ff;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $background-color;
  color: $primary-text-color;
  font-size: 22px;
  line-height: 1.6;
  padding: 2rem;
}

.text_uppercase {
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
    font-weight: 900;
    text-wrap: nowrap;
    &__yellow {
        color: $secondary-color;
    }
    &__pink {
        color: $primary-color;
    }
}

.menu {
  padding: 1rem 2rem;
  &__list {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  &__link {
    text-decoration: none;
    color: $primary-text-color;
    &:hover {
      color: $primary-color;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  &__image {
    width: 30%;
    max-width: 600px;
    margin: 1rem 0;
  }
  &__text {
    width: 60ch;
    margin: 1rem 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0 0;
  }
  &__text {
    margin: 1rem 0 0;
  }
}