@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$background-color: #0b0b0e;
$primary-text-color: #cccccc;
$secondary-text-color: #cfcfcfa0;
$primary-color: #ed6f86ff;
$secondary-color: #ffcf22ff;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $background-color;
  color: $primary-text-color;
  font-size: 22px;
  line-height: 1.6;
}

.text_uppercase {
  text-transform: uppercase;
}

.logo {
    font-weight: 900;
    text-wrap: nowrap;
    &__yellow {
        color: $secondary-color;
    }
    &__pink {
        color: $primary-color;
    }
}